@font-face
{
	font-family: CelestiaRedux;
	src: url("media/font.ttf");
}

body {
    font-family: sans-serif;
    font-size: 10pt;
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
    color: rgb(253, 143, 162);
    font-family: CelestiaRedux, 'Comic Sans MS', sans-serif;
}

h1, p {
    text-align: center;
}

#title {
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.5);
    padding-bottom: 5px;
    border-radius: 5px;
}

#container {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 800px;
    height: 680px;
    background-color: pink;
    margin: 0 auto;
    position: relative;
    transition: transform 0.5s linear, filter 15s ease-in;
    -webkit-transition: -webkit-transform 0.5s linear, -webkit-filter 15s ease-in;
    -o-transition: -o-transform 0.5s linear;    
}

.upside-down {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#loginbox {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 80px;
    margin-left: -79px;
    margin-top: -44px;
    background-color: white;
    border: 4px solid lime;
}

#loginbox input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#stage {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 20px;
    background-color: black;
    background-image: url(media/space.png);
    overflow-y: hidden;
    overflow-x: auto;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#background {
    position: relative;
}

#music {
    position: absolute;
    right: 0;
    top: 0;
}

#chooser-button {
    position: absolute;
    left: 0;
    top: 40px;
}

#fullchatlog-button {
    position: absolute;
    top: 65px;
    left: 0;
}

#credits-link {
    position: absolute;
    top: 92px;
    left: 5px;
}

#steamgroup-link {
    position: absolute;
    top: 108px;
    left: 5px;
}

#room-refresh-button {
    position: absolute;
    top: 0;
    left: 160px;
}

#room-list {
    position: absolute;
    top: 25px;
    left: 160px;
}

#usercounter {
    position: absolute;
    left: 0;
    top: 125px;
    padding: 2px;
    font-weight: bold;
    font-family: monospace;
    color: white;
    text-shadow: 2px 2px gray;
    pointer-events: none;
}

#chooser {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 120px;
    white-space: nowrap;
    overflow-y: auto;
    background-color: pink;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.chooser-preview {
    max-height: 50px;
    border: 1px solid black;
    margin: 2px;
    background-image: url(data:image/gif;base64,R0lGODlhEAAQAKEBAH9/f////////////yH5BAEKAAIALAAAAAAQABAAAAIfjG+gq4jM3IFLJgpswNly/XkcBpIiVaInlLJr9FZWAQA7);
    display: block;
    float: left;
}

.chooser-preview:hover {
    cursor: pointer;
}

#chatbox {
    position: absolute;
    left: 0;
    right: 75px;
    bottom: 2px;
    height: 16px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: inset 1px 1px 3px #D3D3D3;
}

#fullchatlog {
    position: absolute;
    right: 0;
    top: 150px;
    height: 400px;
    width: 300px;
    padding: 4px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
    font-family: monospace;
}

#chatlog {
    position: absolute;
    left: 5px;
    bottom: 50px;
    height: 220px;
    width: 100%;
    color: white;
    pointer-events: none;
    overflow: hidden;
    font-family: monospace;
}

.chat-link {
    color: orange;
    text-decoration: underline;
}

.chatline, .offscreen-chatline {
    background-color: rgba(0, 0, 0, 0.5);
}

.highlight {
    color: fuchsia;
}

.offscreen-chatline {
    opacity: 0.6;
}

#chatbutton {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 20px;
    width: 75px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.pony {
    position: absolute;
    width: 168px;
    height: 168px;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
    transition: left 0.25s linear, top 0.25s linear;
    -webkit-transition: left 0.25s linear, top 0.25s linear;
    -o-transition: left 0.25s linear, top 0.25s linear;
}

.chatbubble {
    background-color: rgba(236, 174, 255, 0.7);
    font-family: CelestiaRedux, 'Comic Sans MS', sans-serif;
    font-size: 11pt;
    color: black;
    margin-bottom: 2px;
    width: 168px;
    overflow: hidden;
}
.chatbubble:not(:empty) {
    border: 1px solid white;
    border-radius: 5px;
}

.nickname {
    font-weight: bold;
    font-family: monospace;
    color: white;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 9px;
    height: 18px;
    overflow: hidden;
}

.creator {
    color: gold !important;
}
.creator::after {
    font-weight: normal !important;
    color: white !important;
    content: ' (pp creator)';
}

.moderator {
    color: rgb(204, 255, 0) !important;
}
.moderator::after {
    font-weight: normal !important;
    color: white !important;
    content: ' (mod)';
}

.bot {
    color: red !important;
}
.bot::after {
    font-weight: normal !important;
    color: white !important;
    content: ' (bot)';
}

.disconnected {
    background-color: gray !important;
    text-align: center;
}

.disconnected::after {
    content: 'disconnected';
    font-size: 75pt;
}
