@font-face
{
	font-family: CelestiaRedux;
	src: url("media/font.ttf");
}

body {
    font-family: sans-serif;
    font-size: 10pt;
}

#ponyplace {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#credits {
    color: white;
    background-color: black;
    padding: 0;
    margin: 0;
}

#no-account-note {
    background-color: white;
}

h1 {
    margin: 0;
    color: rgb(253, 143, 162);
    font-family: CelestiaRedux, 'Comic Sans MS', sans-serif;
}

h1, p {
    text-align: center;
}

#container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: pink;
    margin: 0 auto;
    transition: transform 0.5s linear, filter 15s ease-in;
    -webkit-transition: -webkit-transform 0.5s linear, -webkit-filter 15s ease-in;
    -o-transition: -o-transform 0.5s linear;    
}

.upside-down {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#loginbox {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 200px;
    padding: 6px;
    margin-left: -150px;
    margin-top: -100px;
    background-color: white;
    border: 4px solid lime;
}

#loginbox input, #account-settings input, #account-settings .button {
    display: block;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-bottom: 6px;
}

#account-settings {
    position: absolute;
    right: 0;
    top: 36px;
    width: 280px;
    height: 100px;
    padding: 6px;
    background-color: white;
    border: 4px solid pink;
    border-top: none;
}

#room-edit {
    position: absolute;
    right: 6px;
    top: 66px;
    width: 280px;
    height: 340px;
    padding: 6px;
    background-color: white;
    border: 4px solid rgb(255, 103, 213);
}

#outer-stage {
    position: absolute;
    left: 0;
    right: 0;
    top: 36px;
    bottom: 36px;
    background-color: rgb(230, 230, 230);
    overflow: auto;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#stage {
    overflow: hidden;
    position: relative;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#background {
    position: relative;
}

#background-iframe {
    border: 0;
    position: absolute;
}

#music {
    position: absolute;
    right: 0;
    top: 0;
}

input[type=submit], .button {
    padding: 4px;
    display: block;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: white;
    background-color: rgb(255, 103, 213);
    border: none;
    text-decoration: none;
    margin: 0;
    width: 105px;
    height: 24px;
}
input[type=submit][disabled], .button[disabled] {
    color: gray;
}

input[type=submit]:not([disabled]):hover, .button:not([disabled]):hover {
    text-decoration: underline;
    cursor: pointer;
}

#room-refresh-button, #home-button, #account-settings-button, #inventory-list-button {
    position: absolute;
    top: 6px;
}
#room-refresh-button { left: 160px; }
#home-button { left: 270px; }
#account-settings-button { right: 6px; width: 150px; }
#inventory-list-button { right: 160px; }

#room-edit-button {
    position: absolute;
    top: 42px;
    right: 6px;
}

#room-list {
    position: absolute;
    top: 6px;
    left: 5px;
    height: 25px;
    width: 150px;
}

#bit-count {
    color: white;
    background-color: #FF67D5;
    font-weight: bold;
    font-family: 'Consolas', monospace;
    font-size: 14pt;
    position: absolute;
    top: 6px;
    right: 270px;
    padding: 2px;
    height: 20px;
    vertical-align: middle;
}
#bit-count::after {
    margin-left: 4px;
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAASCAYAAABit09LAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAXklEQVQoz2NkgIKP9/P/w9gf7u+EMRnknW4wMjAwMDCiK8KlmAmbBDbAxEAkYMJmLQMDA4OAojuc/XCfxn8mmLXIEpRZPXIVCii6E45CfsWJjBRZjTP1EIpCRmITLgDj5Skiz9Zq8QAAAABJRU5ErkJggg==);
}

#usercounter {
    position: absolute;
    left: 5px;
    top: 36px;
    padding: 2px;
    font-weight: bold;
    font-family: monospace;
    color: white;
    text-shadow: 2px 2px gray;
    pointer-events: none;
}

#chooser {
    position: absolute;
    left: 0;
    right: 0;
    top: 36px;
    width: 100%;
    height: 120px;
    white-space: nowrap;
    overflow-y: auto;
    background-color: rgba(255, 192, 203, 0.7);
}

#inventory-list {
    position: absolute;
    top: 36px;
    right: 160px;
    width: 400px;
    height: 200px;
    background-color: rgba(255, 192, 203, 0.7);
    border-top: none;
    white-space: nowrap;
    overflow-y: auto;
}

.chooser-preview, .inventory-item-preview {
    max-height: 50px;
    border: 1px solid black;
    margin: 2px;
    background-image: url(data:image/gif;base64,R0lGODlhEAAQAKEBAH9/f////////////yH5BAEKAAIALAAAAAAQABAAAAIfjG+gq4jM3IFLJgpswNly/XkcBpIiVaInlLJr9FZWAQA7);
    display: block;
    float: left;
}

.inventory-item-clickable {
    border: 0;
}
.inventory-item-preview:hover {
    cursor: pointer;
}

.chooser-preview:hover {
    cursor: pointer;
}

.catalogue-item {
    border: 1px solid gold;
    margin-bottom: 5px;
    overflow: hidden;
    background-color: white;
    text-align: right;
    padding: 4px;
}

.catalogue-item h2 {
    margin: 2px;
    font-size: 11pt;
}

.catalogue-item input {
    background-color: gold;
    color: black;
    display: inline-block;
}

.catalogue-item-have {
    background-color: gray;
}

.catalogue-item .chooser-preview {
    float: left;
    margin: 2px;
    max-height: 40px;
}
.catalogue-item .chooser-preview:hover {
    cursor: auto;
}

.portal {
    background-color: rgba(255, 127, 0, 0.3);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.portal:hover {
    cursor: pointer;
}

#chatbox-holder {
    position: absolute;
    left: 6px;
    right: 336px;
    bottom: 6px;
}
#chatbox {
    width: 100%;
    height: 24px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;
    margin: 0;
}

#chatbutton {
    position: absolute;
    right: 226px;
    bottom: 6px;
    max-width: 10%;
}

#fullchatlog-button {
    position: absolute;
    bottom: 6px;
    right: 116px;
}

#chooser-button {
    position: absolute;
    bottom: 6px;
    right: 6px;
}

#fullchatlog {
    position: absolute;
    right: 0;
    top: 150px;
    height: 400px;
    width: 400px;
    padding: 4px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
    font-family: monospace;
}

#chatlog {
    position: absolute;
    left: 5px;
    bottom: 58px;
    width: 100%;
    color: white;
    pointer-events: none;
    overflow: hidden;
    font-family: monospace;
}

a {
    color: orange;
    text-decoration: underline;
}

.chat-link {
    pointer-events: auto;
}

.chatline, .offscreen-chatline {
    background-color: rgba(0, 0, 0, 0.5);
}

.timepart {
    min-width: 50px;
    display: inline-block;
    text-align: right;
    padding-right: 4px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    margin-right: 4px;
    color: white;
}
.firstpart {
    min-width: 180px;
    display: inline-block;
    text-align: right;
    padding-right: 4px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    margin-right: 4px;
}
.highlight {
    background-color: fuchsia;
}
.broadcast {
    background-color: darkorange;
}
.info {
    color: lightgray;
}
.console {
    color: lime;
}

.offscreen-chatline {
    opacity: 0.6;
}

.pony {
    position: absolute;
    width: 168px;
    height: 168px;
    margin-left: -84px;
    margin-top: -84px;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
    transition: left 0.25s linear, top 0.25s linear;
    -webkit-transition: left 0.25s linear, top 0.25s linear;
    -o-transition: left 0.25s linear, top 0.25s linear;
}

.chatbubble {
    background-color: #ECAEFF;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-family: CelestiaRedux, 'Comic Sans MS', sans-serif;
    font-size: 10pt;
    color: black;
    margin-top: 0;
    margin-bottom: 2px;
    overflow: hidden;
    border-radius: 5px;
    pointer-events: none;

    /* position above avatar */
    position: absolute;
    width: 168px;
    left: 0;
    bottom: 168px;
}

.chatbubble::not(::empty) {
    padding: 1px;
}

.nick-tag {
    margin: 0;
    border-radius: 9px;
    height: 18px;
    overflow: hidden;
    pointer-events: auto;

    /* position below avatar */
    position: absolute;
    width: 188px;
    left: 0;
    top: 168px;
}

.nickname {
    font-weight: bold;
    text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
    color: white;
    pointer-events: auto;
}
.nickname:hover {
    cursor: pointer;
}

.house-link {
    pointer-events: auto;
    margin-right: 3px;
}
.house-link:hover {
    cursor: pointer;
}

.creator {
    color: gold !important;
}
.creator::after {
    font-weight: normal !important;
    color: white !important;
    content: ' (pp creator)';
}

.moderator {
    color: rgb(204, 255, 0) !important;
}
.moderator::after {
    font-weight: normal !important;
    color: white !important;
    content: ' (mod)';
}

.bot {
    color: red !important;
}
.bot::after {
    font-weight: normal !important;
    color: white !important;
    content: ' (bot)';
}

.disconnected {
    background-color: gray !important;
    text-align: center;
}

.disconnected::after {
    content: 'disconnected';
    font-size: 75pt;
}
