body {
    font-family: sans-serif;
    font-size: 10pt;
}

h1 {
    margin: 5px 0;
}

h1, p {
    text-align: center;
}

#tips {
    font-size: 120%;
    font-family: 'Comic Sans MS', sans-serif;
    font-weight: bold;
    color: fuchsia;
}

#container {
    width: 1000px;
    height: 680px;
    background-color: pink;
    margin: 0 auto;
    position: relative;
}

#stage {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 20px;
    background-color: black;
    background-image: url(media/space.png);
    overflow-y: hidden;
    overflow-x: auto;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#background {
    position: relative;
}

#chooser-button {
    position: absolute;
    left: 0;
    top: 0;
}

#chooser {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 1000px;
    height: 120px;
    white-space: nowrap;
    overflow-y: auto;
    background-color: pink;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.chooser-preview {
    max-height: 50px;
    border: 1px solid black;
    margin: 2px;
    background-image: url(data:image/gif;base64,R0lGODlhEAAQAKEBAH9/f////////////yH5BAEKAAIALAAAAAAQABAAAAIfjG+gq4jM3IFLJgpswNly/XkcBpIiVaInlLJr9FZWAQA7);
    display: block;
    float: left;
}

.chooser-preview:hover {
    cursor: pointer;
}

#chatbox {
    position: absolute;
    left: 0;
    right: 75px;
    bottom: 2px;
    height: 16px;
    font-family: monospace;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: inset 1px 1px 3px #D3D3D3;
}

#chatlog {
    position: absolute;
    left: 5px;
    bottom: 50px;
    height: 150px;
    width: 100%;
    font-family: monospace;
    color: white;
    font-weight: bold;
    pointer-events: none;
    white-space: nowrap;
    overflow: hidden;
}

.chatline {
    background-color: rgba(0, 0, 0, 0.5);
}

#chatbutton {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 20px;
    width: 75px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.pony {
    position: absolute;
    width: 148px;
    height: 148px;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
    transition: left 0.25s linear, top 0.25s linear;
    -webkit-transition: left 0.25s linear, top 0.25s linear;
    -o-transition: left 0.25s linear, top 0.25s linear;
}

.chatbubble {
    background-color: rgba(236, 174, 255, 0.7);
    font-family: 'Comic Sans MS', sans-serif;
    color: black;
    margin-bottom: 2px;
    position: relative;
    left: -10px;
    width: 168px;
    overflow: hidden;
}
.chatbubble:not(:empty) {
    border: 1px solid white;
    border-radius: 5px;
}

.nickname {
    font-weight: bold;
    font-family: monospace;
    color: white;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 9px;
    height: 18px;
    overflow: hidden;
}

.disconnected {
    background-color: gray !important;
    text-align: center;
}

.disconnected::after {
    content: 'disconnected';
    font-size: 75pt;
}
